<div class="blog-detail">
    <img class="blog-detail-image" src="assets/blog.jpg" alt="your-image-description">
    <h1 class="blog-detail-title">Blog Title</h1>
    <p class="blog-detail-author">Author Name</p>
    <p class="blog-detail-date">Date</p>
    <div class="blog-detail-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna vel tincidunt malesuada, ipsum velit malesuada urna, eget bibendum velit augue id elit. Praesent id est ac risus euismod dictum. Sed euismod, augue eget bibendum congue, dolor velit rhoncus velit, vel facilisis augue velit a nibh. Sed at leo malesuada, varius augue id, aliquet est. Sed eget felis eget est auctor ullamcorper. Sed malesuada, odio vel tempus euismod, velit velit malesuada augue, vel ullamcorper ipsum dolor in risus. Sed volutpat tellus id augue dapibus, eget gravida sapien interdum. Sed at ipsum a augue congue bibendum eget eget ante. Sed id malesuada orci. Sed eget augue sit amet elit he
